@model StockApp.Model.ViewModel.Auth.LoginViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Stock App | Login</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Kaushan+Script&family=Oleo+Script:wght@400;700&display=swap" rel="stylesheet">
    <link href="~/plugins/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/plugins/toastr/toastr.min.css">
    <link href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css" rel="stylesheet" />
    <link href="~/dist/css/adminlte.min.css" rel="stylesheet" />
    <link href="~/dist/css/AppStyle.css" rel="stylesheet" />
</head>
<body class="hold-transition login-page">


    <section class="h-100 gradient-form" style="background-color: #eee;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-xl-10">
                    <div class="card rounded-3 text-black">
                        <div class="row g-0">
                            <div class="col-lg-6 gradient-custom3">
                                <div class="card-body p-md-5 mx-md-4">

                                    <div class="text-center ">
                                        <img src="https://www.pngall.com/wp-content/uploads/12/Graph-PNG-Background.png"
                                             style="width: 10rem;" alt="logo">
                                        <h4 class="mt-1 mb-5 pb-1 kaushan-script-regular">Stock App</h4>
                                    </div>

                                    <form asp-action="Login" asp-antiforgery="true" id="frmCreate">
                                        <p>Please login to your account</p>

                                        <div data-mdb-input-init class="form-outline mb-4">
                                            <input type="email" asp-for="Email" id="form2Example11" class="form-control"
                                                   placeholder="Phone number or email address" />
                                            <span asp-validation-for="Email" class="text-danger"></span>
                                            <label class="form-label" asp-for="Email" for="form2Example11">Email</label>
                                        </div>

                                        <div data-mdb-input-init class="form-outline mb-4">
                                            <input type="password" asp-for="Password" id="form2Example22" class="form-control" />
                                            <span asp-validation-for="Password" class="text-danger"></span>
                                            <label class="form-label" asp-for="Password" for="form2Example22">Password</label>
                                        </div>

                                        <div class="text-center pt-1 mb-5 pb-1">
                                            <button data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit">
                                                Log
                                                in
                                            </button>

                                        </div>
                                    </form>

                                </div>
                            </div>
                            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                                <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                                    <h1 class="mb-4 kaushan-script-regular">LOGIN</h1>
                                    <h4 class="mb-4">Welcome to our App</h4>
                                    <img src="https://cdn.pixabay.com/photo/2016/12/17/15/50/logo-1913689_1280.png"
                                         style="width: 13rem;height:19rem" alt="logo">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <!-- jQuery -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/plugins/toastr/toastr.min.js"></script>
    <script src="~/dist/js/adminlte.min.js"></script>
    <partial name="~/Views/Shared/_FormScriptsPartial.cshtml" />
</body>
</html>

