<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

        <li class="nav-header ">Stock</li>
        <li class="nav-item">
            <a href="/Transaction" class="nav-link">
                <i class="nav-icon fas fa-truck side-icon"></i>
                <p class="kaushan-script-regular-side ">Transactions</p>
            </a>
        </li>
        <li class="nav-header">Report</li>
        <li class="nav-item">
            <a href="/Report/StoreStockReport" class="nav-link">
                <i class="nav-icon fas fa-building side-icon"></i>
                <p class ="kaushan-script-regular-side "> Store Stock</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/Report/TransactionDetailReport" class="nav-link">
                <i class="nav-icon fas fa-list-alt side-icon"></i>
                <p class="kaushan-script-regular-side ">Transaction Detail</p>
            </a>
        </li>

        <li class="nav-header">Definitions</li>
        <li class="nav-item">
            <a href="/Category" class="nav-link">
                <i class="nav-icon fas fa-folder side-icon"></i>
                <p class="kaushan-script-regular-side ">
                    Category
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/UnitOfMeasure" class="nav-link">
                <i class="nav-icon fas fa-box-open side-icon"></i>
                <p class="kaushan-script-regular-side ">
                    Units
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/Product" class="nav-link">
                <i class="nav-icon fas fa-barcode side-icon"></i>
                <p class="kaushan-script-regular-side ">
                    Product
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/Store" class="nav-link">
                <i class="nav-icon fas fa-building side-icon"></i>
                <p class="kaushan-script-regular-side ">
                    Store
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/User" class="nav-link">
                <i class="nav-icon fas fa-user side-icon"></i>
                <p class="kaushan-script-regular-side ">
                    User
                </p>
            </a>
        </li>
        <li class="nav-header"></li>
        <li class="nav-item">
            <a href="/Auth/Logout" class="nav-link">
                <i class="nav-icon fas fa-sign-out-alt text-danger "></i>
                <p class="kaushan-script-regular-side ">
                    Logout
                </p>
            </a>
        </li>

    </ul>
</nav>